*{
    font-family: poppins;
    padding: 0px;
    transition: all 100ms;
}

body{
    background-image: url(../src/EnsolaradoBackground.png);
}

.m-6{
    margin-left: 20%;
    margin-right: 20%;
}

.custom-rounded{
    border-radius: 50px;
}

.card:hover {
    transform: scale(1.10);
}