* {
    font-family: poppins;
    padding: 0px;
    transition: all 100ms;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 0.5s ease;
}

.m-6 {
    margin-left: 20%;
    margin-right: 20%;
}

.custom-rounded {
    border-radius: 50px;
}

.card:hover {
    transform: scale(1.05);
}